body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #4CAF50;
    color: white;
}

.form-container {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container h2 {
    margin-top: 0;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.delete-btn, .edit-btn {
    background-color: #f44336;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #2196F3;
}
#backToHomeBtn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#backToHomeBtn:hover {
    background-color: #45a049;
}

/* Thông báo ở góc trên bên phải */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

.notification.error {
    background-color: #f44336; /* Màu đỏ cho thông báo lỗi */
}